[submodule "jikan.net"]
	path = jikan.net
	url = https://github.com/Ervie/jikan.net
	ignore = dirty
[submodule "graphql-client"]
	path = graphql-client
	url = https://github.com/graphql-dotnet/graphql-client
[submodule "graphql-dotnet"]
	path = graphql-dotnet
	url = https://github.com/graphql-dotnet/graphql-dotnet
[submodule "Discord.Net"]
	path = Discord.Net
	url = git@github.com:RogueException/Discord.Net.git
